#projects{
    overflow: hidden;
    width:100vw;
    max-width:650rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:0 auto;


}
.projectTitle{
    font-size:3rem;
    font-weight:600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.projectDesc{
    font-weight:400;
    font-size:1rem;
    max-width:51rem;
    padding: 0 2rem;
}
.projectBars{
    margin:1.5rem;
    width:100vw;
    max-width: 80%;
    text-align: left;


}
.projectBar{
    display: flex;
    margin:1rem;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}
.projectBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
}
@media screen and (max-width:720px){
 .projectBarText>p{
    font-size:2vw;
 }    
}
@media screen and (max-width:480px){
    .projectBarText>p{
       font-size:3vw;
    }
    .projectBarText>h{
        font-size:5vw;
    }    
   }